rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn()
        && request.auth.token.email in [
          "bilal.dag403@gmail.com"
        ];
    }

    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
